# Exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/ 
# Obsidian workspace cache
.obsidian/workspace 

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

